@model FirstWebApp.Models.TicTacToeModel
@{
    ViewData["Title"] = "Winner Page";
}

<div class="text-center">
    <div>
        !!! @Model.winnerName is Winner !!!
    </div>
    <form method="post" asp-area="" asp-controller="Home" asp-action="Index">
               <input type="submit" value="Restart"></input>
    </form>
</div>
